
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height:  100%;
}

body {
  background: linear-gradient(140deg, #b0d8f0 0%, #39adf3 50%, #4285b9 100%);
  min-height: 100%;
}

/* VIDEO CLIENT PAGE */

.framework {
  display: grid;
  min-width: 750px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
      "header header"
      "content-video content-emtform"
      "footer footer";
}

.header {
  grid-area: header;
  grid-row: 1;
}

.content-video {
  grid-area: content-video;
  grid-row: 2;
  grid-column: 1;
}

.content-emtform {
  grid-area: content-emtform;
  grid-row: 2;
  grid-column: 2;
}

.footer {
  grid-area: footer;
  grid-row: 3;
}

.item {
  background-color: #1EAAFC;
  /* background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%); */
  color: #333;
  border-radius: 5px;
  /* display: flex; Add into individual item if necessary*/
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.header {
 background-color: transparent;
 border: none;
}

.header img {
 height: 90px;
}

.content-video {
  /* background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%); */
  background-color: #000;
  border: 2px solid #171717;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-video video {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  display:  block;
}

.videoholster{
 /* makes the UI stable during loading */
 width: 100%;
 min-height: 360px;
 max-height: 720px;
}

.videoControls {
  width:  100%;
  height: 50px;
  background-color: #333;
  cursor:  pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(180deg, #333 0%, #000 127%);
}
  
  .icon::before {
    display: inline-block;
    /* text-rendering: auto;
    -webkit-font-smoothing: antialiased; */
  }

  .playerbtn {
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    width: 40px;
    background-color: transparent;
    border: none;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .playerbtn button{
    align-content: center;
  }

  .camera-tog:before {
  font: var(--fa-font-solid);
  content: "\f03d";
  color: #FFF;
  } 

  .camera-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f4e2";
  color: #ec6c70;
  }

  .mic-tog:before {
  font: var(--fa-font-solid);
  content: "\f130";
  color: #FFF;
  } 

  .mic-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f131";
  color: #ec6c70;
  }


  .output-tog:before {
  font: var(--fa-font-solid);
  content: "\f028";
  color: #FFF;
  } 

  .output-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f6a9";
  color: #ec6c70;
  }

  .fullscreen-tog:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  } 

  .fullscreen-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  }

  .disconnect:before {
  font: var(--fa-font-solid);
  content: "\f2f5";
  color: #ec6c70;
  } 

  .disconnect.is-active:before {
  font: var(--fa-font-solid);
  content: "\f2f5";
  color: #ec6c70;
  }



/*  Data Display Zone */ 
.content-emtform {
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 120%);
  border: 2px solid #171717;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/* Footer Zone */ 

.footer {
  background-color: transparent;
}

.footer img {
  height: 40px;
  margin-top: 20px;
}

/* END VIDEO CLIENT PAGE */


/* ---------------BEGIN INDEX PAGE--------------------------------------- */

.holster {
  vertical-align: middle;
}


/* Form Styles on Index*/

.signup-form {
  font-family: "Roboto", sans-serif;
  max-width:750px;
  margin:20px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  display: inline-block;
  vertical-align: middle;

}

.form-header img {
  display:  inline-block;
  height: 50px;
  padding-right: 20px;
  vertical-align: middle;
}

.form-body {
  padding:10px 40px;
  color:#666;
}

.form-group{
  margin-bottom:20px;
}

.form-body .label-title {
  color:#0077c0;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}

.form-body .form-input {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

 .form-input-multi {
    font-size: 17px;
    box-sizing: border-box;
    display: inline-block;
    height: 34px;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

 .form-input-mini {
    font-size: 17px;
    box-sizing: border-box;
    display: inline-block;
    height: 34px;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-input-texarea {
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.horizontal-group .left{
  float:left;
  width:49%;
}

.horizontal-group .right{
  float:right;
  width:49%;
}

input[type="file"] {
  outline: none;
  cursor:pointer;
  font-size: 17px;
}

#range-label {
  width:15%;
  padding:5px;
  background-color: #0077c0;
  color:white;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  top:-8px;
}


::-webkit-input-placeholder  {
  color:#d9d9d9;
}

.signup-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
  clear:both;
}

.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;  
  font-style: italic;
  font-weight: thin;
}

.btn {
   display:inline-block;
   padding:10px 20px;
   background-color: #0077c0;
   font-size:18px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
}

.btn:hover {
  background-color: #004b85;
  color:white;
}

.form-info-display{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight:  900;
  padding-bottom: 20px;
  color:#333333;
}

.form-info-display-label{
color: #0077c0;
font-weight: 600; 
}

.form-info-display-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight:  700;
  padding-bottom: 12px;
  color:#333333;
}


/* BEGIN SPECIAL STYLES FOR TABLET IN PORTRAIT MODE */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
   {

.framework {
  display: grid;
  min-width: 750px;
  max-width: 1024px;
  grid-template-rows: 60px 1fr 1fr 100px;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  grid-template-areas:
      "header"
      "content-video"
      "content-emtform"
      "footer";
  }

  .header {
  grid-area: header;
  grid-row: 1;
}

.content-video {
  grid-area: content-video;
  grid-row: 2;
}

.content-emtform {
  grid-area: content-emtform;
  grid-row: 3;
}

.footer {
  grid-area: footer;
  grid-row: 4;
}

.header img {
 height: 50px;
}

.videoControls {
  width:  100%;
  height: 50px;
  background-color: #333;
  cursor:  pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(180deg, #333 0%, #000 127%);
}

.playerbtn {
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    width: 40px;
    background-color: transparent;
    border: none;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

}

/* END TABLET IN PORTRAIT STYLES */
